[service]
AppMode = debug
HttpPort = :3000

[mysql]
Db = mysql
DbHost = 127.0.0.1
DbPort = 3306
DbUser = root
DbPassWord = root
DbName = mall_db

[redis]
RedisDb = redis
RedisAddr = 127.0.0.1:6379
RedisPw =
RedisDbName = 2

[qiniu]
AccessKey = 七牛云控制台的AK
SerectKey = 七牛云控制台的SK
Bucket = 刚刚新创的名称
QiniuServer = 绑定的域名

[email]
ValidEmail=http://localhost:8080/#/vaild/email/
SmtpHost = smtp.qq.com
SmtpEmail = 你的邮箱
SmtpPass = 你的邮箱的通信码

[es]
EsHost = 127.0.0.1
EsPort = 9200
EsIndex = mylog
